<div class="card">
    <div class="card-header bg-dark text-light">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <a href="<%= root_url%>" class="btn btn-outline-info btn-sm pull-right">Continue Shopping</a>
        <div class="clearfix"></div>
    </div>
   
    <% if @actual_order == nil %>
      <div class="card-header bg-dark text-light">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <h2>your car is empty</h2>
        <div class="clearfix"></div>
    </div>
    <% else%>
    <div class="card-body">
      <% @actual_order.order_items.includes(:product).each do |item| %>
        <div class="row">
            <div class="col-xs-2 col-md-2">
                <img class="img-responsive" src="http://placehold.it/120x80" alt="prewiew">
            </div>
            <div class="col-xs-4 col-md-6">
              <h4 class="product-name"><strong><%= item.product.name %></strong></h4><h4><small><%= item.product.price %></small></h4>
            </div>
            <div class="col-xs-6 col-md-4 row">
                <div class="col-xs-6 col-md-6 text-right" style="padding-top: 5px">
                  <h6><strong><%= item.price%> <span class="text-muted">x</span></strong></h6>
                </div>
                <div class="col-xs-4 col-md-4">
                  <%= item.quantity %>
                </div>
                <div class="col-xs-2 col-md-2">
                </div>
            </div>
        </div>
        <hr>
      <% end %>
    </div>
   
    <div class="card-footer">
      <div class="pull-right" style="margin: 5px">
        Total: $<b><%= @actual_order.total %></b>
        
      

        <%= form_for :cart, url: pay_with_cart_path, method: :post do |f| %>         
          <%= f.radio_button :payment, 'transbank', :checked => true %>
          <%= label :transbank, 'transbank'%>
          
          <%= f.radio_button :payment, 'stripe', :checked => true %>
          <%= label :stripe, 'stripe'%>

          <%= f.radio_button :payment, 'paypal', :checked => true%>
          <%= label :paypal, 'paypal'%>
          
          <%= f.hidden_field :order_id, value: @actual_order.id %>
          <%= f.submit "Pay", class:' btn btn-success pull-right' %>
        <% end %>
      </div>
    </div>
  <%end%>
</div>